

.resultado{

    color: #002350;
    font-size: 60px;
    
}

.resultado_text{

    color: black;
    font-size: 30px;
    font-family: "Custom";
    
    
}

.imc{
   margin-left: 0%;
}
@font-face {
    font-family: 'Custom';
    src: url('assets/fonts/fallingskylight.otf') format('opentype');
  }

